<% content_for :title, "New Behavior Report" %>

<%= form_for @behavior_report, layout: :basic do | f | %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1>Edit Behavior Report</h1>
    </div>
    <div class="panel-body">
      <%= f.number_field :occurrences, :in => 0..100, :step => 1 %>
    </div>
    <div class="panel-footer">
      <%= f.submit "Update Report", class: "btn btn-primary " %>
    </div>
  </div>
<% end %>
