<div class="row text-center">
  <div class="small-12 columns">
    <h1>All Behavior Reports</h1>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <table>
      <thead>
        <tr>
          <th width="200">Client Last Name</th>
          <th>Behavior</th>
          <th width="125">Occurrences</th>
          <th width="125">Timestamp</th>
        </tr>
      </thead>
      <tbody>
        <% @behavior_reports.each do | report | %>
          <tr>
            <td><%= report.behavior.client.last_name %></td>
            <td><%= report.behavior.description %></td>
            <td><%= report.occurrences %></td>
            <td><%= report.created_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>