<% content_for :title, "New Behavior Report" %>

<div class="row text-center">
  <div class="small-12 columns">
    <h1>Submit Behavior Report</h1>
  </div>
</div>

<% if current_client.behaviors.active.size > 0 %>
  <%= render 'form' %>
<% else %>
  <div class="row text-center">
    <div class="small-12 medium-8 medium-centered columns">
      <div class="panel">
        You do not have any assigned behaviors.
      </div>
    </div>
  </div>
<% end %>

<div class="row text-center">
  <div class="small-12 medium-8 medium-centered columns">
    <div class="panel">
      <%= link_to logout_path, method: "delete", class: "button alert expand" do %>
        <i class="fa fa-sign-out"></i>&emsp;Log Out
      <% end %>
    </div>
  </div>
</div>