/*
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
 *= require dataTables/extras/dataTables.responsive
 */

@font-face {
  font-family: 'Open Sans';
  src: font_url('OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: font_url('OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

// Override fonts
$font-family-sans-serif: "Open Sans", Helvetica, Arial, sans-serif;

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 1em;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  @include gradient-radial(white, #1970A9);
}

.btn {
  margin-right: 4px;
}

a {
  text-decoration: none !important;
}
