/*
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require dataTables/jquery.dataTables.foundation
 *= require dataTables/extras/dataTables.responsive
 */

@font-face {
  font-family: 'Open Sans';
  src: font_url('OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: font_url('OpenSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

// Override fonts
$font-family-sans-serif: "Open Sans", Helvetica, Arial, sans-serif;

body {
  padding-top: 1em;
}

@import "bootstrap-sprockets";
@import "bootstrap";

a {
  text-decoration: none !important; 
}
