/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require dataTables/jquery.dataTables.foundation
 */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

/* Override default foundation colors */
$primary-color: #336699; /* Darker Blue */
$secondary-color: #6441A5; /* Twitch Purple */
$alert-color: #c33333; /* Brick Red */
$success-color: #006400; /* Vibrant Green */
$warning-color: #dd7500; /* Orange */
$info-color: #e7e7e7; /* Lilac White */

// Override fonts
$body-font-family: "Roboto", Helvetica, Arial, sans-serif;
$header-font-weight: bold;
$alert-font-size: 1.25rem;
$alert-font-weight: bold;

// Override bg
$body-bg: #FEFEFE;
$panel-bg: #EFEFEF;

@import "foundation_and_overrides";
