<div class="row ">
  <div class="col-xs-12">
    <hr />
    <% if user_signed_in? %>
      <span>Your last sign in was at <strong><%= current_user.last_sign_in_central %></strong> by <strong><%= current_user.last_sign_in_ip %></strong></span>
      <br />
    <% end %>
    <small><i class="fa fa-check-circle"></i>&nbsp;&nbsp;Einstein <%= `git describe --always` %></small>
  </div>
</div>

<% if Rails.env.development? %>
<div class="row">
  <div class="col-xs-12">
    <hr />
    <div class="panel panel-default">
      <div class="panel-body"
        <%= debug(params) %>
      </div>
    </div>
  </div>
</div>
<% end %>
