<div class="row text-center">
  <div class="small-12 columns small-centered">
    <hr />
    <% if user_signed_in? %>
      <span>Your last sign in was at <strong><%= current_user.last_sign_in_central %></strong> by <strong><%= current_user.last_sign_in_ip %></strong></span>
      <br />
    <% end %>
    <small><i class="fa fa-check-circle"></i>&nbsp;&nbsp;Einstein <%= `git describe --always` %></small>
  </div>
</div>

<% if Rails.env.development? %>
<div class="row">
  <div class="small-12 columns">
    <hr />
    <div class="panel callout">
      <%= debug(params) %>
    </div>
  </div>
</div>
<% end %>
