<% if user_signed_in? %>
<div class="row text-center">
  <div class="small-12 columns">
    <div class="panel callout">
      <i class="fa fa-key"></i>&emsp;Signed in as <strong><%= current_user.email %></strong>
    </div>
    <%= link_to "https://bitbucket.org/alephtwo/einstein/issues", class: "button" do %>
      <i class="fa fa-bitbucket"></i>&emsp; Report Issue
    <% end %>
  </div>
</div> 
<% end %>

<div class="row text-center">
<div class="small-4 columns small-centered">
    <%= image_tag "https://www.positivessl.com/images-new/PositiveSSL_tl_trans2.png" %>
</div>
</div>

<% if Rails.env.development? %>
<div class="row">
  <div class="small-12 columns">
    <hr />
    <div class="panel callout">
      <%= debug(params) %>
    </div>
  </div>
</div>
<% end %>