<nav class="top-bar" data-topbar role="navigation">

  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "Caillier Clinic", root_path %></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="has-dropdown">
        <%= link_to clients_path do %>
          <i class="fa fa-group"></i>&emsp;Clients
        <% end %>
        <ul class="dropdown">
          <li>
            <%= link_to new_client_path do %>
              <i class="fa fa-plus"></i>&emsp;New Client
            <% end %>
          </li>
        </ul>
      </li>
      <li>
        <%= link_to destroy_user_session_path, :method => :delete, class: "item", id: "logout" do %>
          <i class="fa fa-lock"></i>&emsp;Log Out
        <% end %>
      </li>
    </ul>
  </section>

</nav>

<br />